---
import BaseLayout from "@layouts/BaseLayout.astro"
import NotFoundGif from '../../public/images/error/not_found.gif';
import { Image } from 'astro:assets';
---
<style>
.page_404{ 
    padding:40px 0; 
}

.page_404  img { 
    width:100%;
}

.four_zero_four_bg{
    height: 400px;
    background-position: center;
 }
 
 
h1 {
    margin: 5px;
}
</style>

<BaseLayout
    title="bash.lmao.cyou - 404"
    description="page does not exist"
    keywords=""
>
	
<section class="page_404 ">
	<div class="">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg"  >
            <Image src={NotFoundGif} alt="not found gif"/>
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		
		<h1>the thing you are looking for cant be found!</h1>
		
		<a href="/" class="link_404"><u>get out of here</u></a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
</BaseLayout>
