---
import Layout from '@layouts/PostsLayout.astro';
import PostCard from '@components/PostCard.astro';
import { postList } from '@lib/get-posts';

---

<Layout 
    title={`bash.org archive - all posts`}
    description={`list of all archived quotes ordered by vote count.`}
>
<div class="container mx-auto flex justify-center items-center">
	<div class="space-y-10 w-10/12 flex flex-col">
		<div id="post-list">
            {
                postList.map(post => <PostCard {post} />)
            }
		</div>
	</div>
</div>
</Layout>
