---
import Layout from '@layouts/PostsLayout.astro';
import { getPageInfo } from '@lib/get-pages';
import PostList from '@components/PostList.astro'

const data = getPageInfo(0);
const page_info = data.page_info;
---

<Layout 
    title="list of bash.org posts ordered via decending vote count"
    description="bash.org "
    {page_info}
>
<PostList post_entries={data.posts} />
</Layout>

