---
import Layout from '@layouts/PostsLayout.astro';
import PostCard from '@components/PostCard.astro';
import { postList } from '@lib/get-posts'

export function getStaticPaths() {
    return postList.map((post) => {post
        return {
            params: { postid: post.id },
            props: {
                post: post
            }
        }
    });
}

const { post } = Astro.props;
---
<Layout 
    title={`bash.org archive - post #${post.id}`}
    description={post.quote.substring(0, 160)} 
>
<div class="container mx-auto flex justify-center items-center">
	<div class="space-y-10 w-10/12 flex flex-col">
		<PostCard {post} />
	</div>
</div>
</Layout>


