---

interface Props {
    prev: number|undefined;
    next: number|undefined;
}

const {
    prev,
    next
} = Astro.props;

---
<span class="container mx-auto flex justify-center items-center m-5 text-amber-600">
    {prev && (
        (prev == 1 ? 
            (
			<a href="/">prev</a>
            )
            : (
			 <a href={`/page/${prev}`}>prev</a>
            )
        )
    )}

    {(prev && next) && <span class="mx-2">|</span> }

    { next && <a href={`/page/${next}`}>next</a>
}
</span>
