---
import type { Post } from '../lib/get-posts';
import PostCard from './PostCard.astro';

interface Props {
    post_entries: Post[]
}

const {
    post_entries,
} = Astro.props;
---

<div class="container mx-auto flex justify-center items-center">
	<div class="space-y-10 w-10/12 flex flex-col">
		<div id="post-list">
            { post_entries.map((post) => <PostCard {post} />) }
		</div>
	</div>
</div>
