---
import type { Post } from '@lib/get-posts';

interface Props {
    post: Post
}

const {
    post,
} = Astro.props;
---

<span class="block card card-hover p-4 m-5">
	<div class="m-3">
		<a class="underline text-yellow-300" href={`/p/${post.id}`}>#{post.id}</a> +
		<span class="text-emerald-500">({post.score})</span>
	</div>
	<pre class="pre">{post.quote}</pre>
</span>
