---
interface Props {
	title: string;
    description: string,
    keywords: string
}

const { 
    title,
    description,
    keywords
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
        <link rel="icon" href="/favicon.png" />
        <link rel="sitemap" href="/sitemap-index.xml" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

        <title>{title}</title>
        <meta name="keywords" content={keywords} />
	    <meta name="description" content={description} />
	</head>
	<body data-theme="vintage">
		<div style="display: contents">
            <slot />
        </div>
	</body>
</html>

