---
import PageNav from '@components/PageNav.astro';
import { AppShell } from '@skeletonlabs/skeleton';
import { AppBar } from '@skeletonlabs/skeleton';

import BaseLayout from './BaseLayout.astro';

import { MAX_PAGES } from '@lib/get-pages';

interface PageData {
    prev: number|undefined;
    next: number|undefined;
}

interface Props {
	title: string;
    description: string;
    keywords?: string;

    page_info?: PageData;
}

const { 
    title,
    description,
    keywords="bash.org,bash,quotes,irc",

    page_info={ next: undefined, prev: undefined }
} = Astro.props;
---
<BaseLayout {title} {description} {keywords} >
<AppShell>
	<svelte:fragment slot="header">
		<AppBar gridColumns="grid-cols-2" slotDefault="place-self-center" slotTrail="place-content-end">
			<h1 class="h2"><a href="/">bash.org archive</a></h1>
			<svelte:fragment slot="trail">
                    
				<a href={`/page/${MAX_PAGES}`}>last page</a>
                <span class="mx-2">|</span>
				<a href="/all">all posts</a>
			
                </svelte:fragment>
		</AppBar>
	</svelte:fragment>
	<svelte:fragment slot="pageHeader">
		<PageNav prev={page_info.prev} next={page_info.next} />
	</svelte:fragment>
	<slot />
	<svelte:fragment slot="pageFooter">
		<PageNav prev={page_info.prev} next={page_info.next} />
	</svelte:fragment>
</AppShell>
</BaseLayout>

<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* vintage theme */
@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface.ttf');
	font-display: swap;
}
</style>

