---
import Layout from '@layouts/PostsLayout.astro';
import { getPageInfo } from '@lib/get-pages';
import { MAX_PAGES } from '@lib/get-pages';
import type { PageData } from '@lib/get-pages';

export type Props = PageData;

import PostList from '@components/PostList.astro';

export function getStaticPaths() : any {
    const page_numbers = Array(MAX_PAGES + 1).fill(0);

    return page_numbers.map((_, i: number) => {
        return {
            params: { pagenum: String(i) },
            props: getPageInfo(i)
        }
    });
}


const { page_info, posts } = Astro.props;
---
<Layout 
    title={`bash.org archive - page ${page_info.current}`}
    description={`bash.org archive. page ${page_info.current} of archived quotes ordered by vote count.`}
    {page_info}
>



<PostList post_entries={posts} />
</Layout>


